<div class="reg" style="margin: auto 40px;">
<h1>Editing Product</h1>
<%= render 'form', product: @product %>
<%= link_to 'Show', @product, style:"color:#32ffff" %> |
<%= link_to 'Back', products_path, style:"color:#32ffff" %>
</div>